<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xeroxparc.materialcomponentsdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.component.appbarbottom.AppBarBottomActivity" />
        <activity android:name=".ui.component.appbartop.AppBarTopActivity" />
        <activity android:name=".ui.component.backdrop.BackdropActivity" />
        <activity android:name=".ui.component.banner.BannerActivity" />
        <activity android:name=".ui.component.bottomnavigation.BottomNavigationActivity" />
        <activity android:name=".ui.component.button.ButtonActivity" />
        <activity android:name=".ui.component.card.CardActivity" />
        <activity android:name=".ui.component.chip.ChipActivity" />
        <activity android:name=".ui.component.datatable.DataTableActivity" />
        <activity android:name=".ui.component.dialog.DialogActivity" />
        <activity android:name=".ui.component.divider.DividerActivity" />
        <activity android:name=".ui.component.fab.FabActivity" />
        <activity android:name=".ui.component.imagelist.ImageListActivity" />
        <activity android:name=".ui.component.list.ListActivity" />
        <activity android:name=".ui.component.menu.MenuActivity" />
        <activity android:name=".ui.component.navigationdrawer.NavigationDrawerActivity" />
        <activity android:name=".ui.component.navigationrail.NavigationRailActivity" />
        <activity android:name=".ui.component.picker.PickerActivity" />
        <activity android:name=".ui.component.progressindicator.ProgressIndicatorActivity" />
        <activity android:name=".ui.component.selectioncontrol.SelectionControlActivity" />
        <activity android:name=".ui.component.sheetbottom.SheetBottomActivity" />
        <activity android:name=".ui.component.sheetside.SheetSideActivity"/>
        <activity android:name=".ui.component.slider.SliderActivity" />
        <activity android:name=".ui.component.snackbar.SnackbarActivity" />
        <activity android:name=".ui.component.tab.TabActivity" />
        <activity android:name=".ui.component.textfield.TextFieldActivity" />
        <activity android:name=".ui.component.tooltip.TooltipActivity" />
        <activity android:name=".ui.search.ComponentSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>